.text-grey{
	color: rgba(0,0,0,0.5);
}
.top-bar{
	background: #fff;
	border-bottom: none;
}
.registry-button{
	background-color: rgb(84,177,89);
	color: #fff;
	border-color: none;
}
.registry-button:hover{
	background-color: rgb(107,206,113);
	color: #fff;
}
.navbar{
	background: #fff;
}
.navbar-inverse .navbar-nav li a{
	color: rgba(0,0,0,0.5);
}
.navbar-inverse .navbar-nav .active a{
	background-color: rgb(107,206,113);
}
.navbar-inverse .navbar-nav .active a:hover{
	background-color: rgb(107,206,113);
}
.navbar-inverse .navbar-nav li a:hover{
	background: rgb(107,206,113);
}